.template, .badImageError {display: none;}
.badImageError {
	position: absolute !important;
	color: #bc0011;
}
#wait {position: absolute;}
.loader {
	display: none;
	margin: auto;
	top: 70%; left: 0; bottom: 0; right: 0;
	z-index: 500;
}
.fa-circle-o-notch {
	font-size: 40px;
}
html, body {
	height: 100%;
}
body {
	background-color: #f9f9f9 !important;
	font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif !important;
	.title {
		visibility: hidden;
		clear: none;
		display: inline-block;
		clear: right;
	}
	p {font-weight: 300}
	a {
		color: #5C008F;
		font-weight: 600;
		&:hover {
			color: black;
		}
	}
}
.wrapper {
	border: 15px solid #f9f9f9;
	@media(min-width: 768px) {
		border: 15px solid #f9f9f9;
		padding: 10px;
		height: 100%;
		position: absolute;
		width: 100%;
	}
	li {
		display: inline-block;
	}
}
.faq {
	display: inline;
	font-size: 18px;
	margin-right: 10px;
	@media(min-width: 768px) {margin-top: 0;}
	.information {
		display: none;
		right: 10px;
		position: absolute;
		width: 300px;
		height: 400px;
		border: 1px solid black
	}
}
.social-icon {
	margin-left: 10px;
	display: inline-block;
	border: 2px solid #5C008F;
	border-radius: 50%;
	margin: 0.15em;
	font-size: 2.3em;
}

.fa-twitter { padding: 0.05em 0.07em;}
.fa-facebook {padding: 0.05em 0.3em; }
hr {
	width: 50%;
}
.content {
	margin-top: 30%;
	@media(min-width: 480px) {margin-top: 28%;}
	@media(min-width: 600px) {margin-top: 25%;}
	@media(min-width: 780px) {margin-top: 15%;}
	@media(min-width: 1200px) {margin-top: 2%;}
}
h1 {
	font-weight: 300 !important;
	font-size: 56px !important;
}
.as-title {
	p { font-size: 20px; }
}
.landscape {
	position: relative;
	margin-top: 2.5%;
	fill: blue;
}
.upload-fields {
	// margin-top: 4%;
	form {
		margin-top: 4%;
	}
}
.upload {
	position: relative;
	border: 3px dashed #5c008f;
	color: #5c008f;
	border-radius: 14px;
	margin-top: 6%;
	// height: 300px;
}
.upload input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	outline: none;
	cursor: pointer;
	display: block;
	opacity: 0;
}
.upload-title {
	margin-top: 2%;
	font-size: 28px;
}
.template {
	position: relative;
	.print-sizes .col-sm-4 {
		margin-top: 10%;
		@media(min-width: 768px) {margin-top: 8%;}
		.quality-description {
			font-weight: bold;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}
.icon-good, .icon-okay, .icon-bad {
	top: -24px;
	right: -9px;
	position: absolute;
	width: 50px;
	height: 50px; 
	transform: scale(1.1);
	z-index: 1;
	background-color: white;
	border-radius: 1000px;
}
.icon-good {
	color: #5dbc00;
	padding: 10px;
	border: 2px solid #5dbc00;
}
.icon-good i, .icon-okay i, .icon-bad i{
	position: absolute;
	font-size: 40px;
}
.icon-good i {
	top: 4px;
	left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.icon-okay i {
	top: 5px;
	left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.icon-okay {
	color: #DC5800;
	padding: 10px;
	border: 2px solid #DC5800;
}
.icon-bad {
	padding: 10px;
	border: 2px solid #bc0011;
}
.icon-bad i {
	top: 2px;
	color: #bc0011;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.good {
	border: 3px solid #5dbc00;
	border-radius: 8px;
}
.okay {
	border: 3px solid #DC5800;
	border-radius: 8px;
}
.bad {
	border: 3px solid #bc0011;
	border-radius: 8px;
}
.push {
	height: 150px;
}
.about-wrapper {
	position: relative;
	width: 100%;
	bottom: 0;
	.about {font-size: 20px; }
	.made-by {font-size: 20px !important;}
}
#faq {
	display: none;
	position: absolute;
	z-index: 10000000;
	left: 0;
	top: 0;
	width: 100% ;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.88);
	overflow: scroll;
	.faq-title {
		margin-top: 5%;
	}
	.ex{
		margin-right: 10px;
		margin-topgi: 10px;
	}
	.fa-times {
		font-size: 40px;
		color: white;
		float: right;
		&:hover {
			cursor: pointer;
		}
	}
	p {
		font-size: 20px;
	}
	.container {
		color: white;
	}
}
.action {
	margin-top: 2%;
}
.as-action {
	border-radius: 5px !important;
	border: 1px solid #5C008F !important;
	color: #5C008F;
	&:hover {
		background-color: #5C008F !important;
		border: 1px solid white !important;
		color: white !important;
	}
}
